<div class="row div-title">
    <div class="col-12  text-justy d-flex justify-content-center">
        <h4 class="title">
            Todo list
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-5 text-justy d-flex justify-content-end scroller">
        <app-list [todos]="state" (recoveredActiveTodo)="recoveredActiveTodo($event)"></app-list>
    </div>

    <div class="col-5 text-justy d-flex justify-content-center">
        <app-detail-todo [todoActive]="activeTodo"></app-detail-todo>
    </div>
</div>
<div class="row div-action">
    <div class="col-8 text-justy d-flex justify-content-center">
        <button mat-mini-fab (click)="openAddTodoModal()" color="primary">Add</button>
        <button
            mat-icon-button
            matTooltip="
        Remove the completed todo"
            color="primary"
            (click)="clearCompletedTodo()"
        >
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
